@charset "utf-8";

/*fuentes*/

@font-face {
    font-family: "capriola";
    src: url(fuentes/Capriola-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "afacadflux-regular";
    src: url(fuentes/AfacadFlux-Regular.ttf) format(truetype);
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: "afacadflux-bold";
    src: url(fuentes/AfacadFlux-Bold.ttf) format(truetype);
    font-weight: bold;
    font-size: normal;
}

@font-face {
    font-family: "afacadflux-light";
    src: url(fuentes/AfacadFlux-Light.ttf) format(truetype);
    font-weight: lighter;
    font-size: normal;
}

/*aplicaciones*/
* {
    font-family: "afacadflux-regular", sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

h1 {
    font-family: "capriola", sans-serif;
    color: var(--crema);
    font-size: 50px;
    letter-spacing: 2px;
    background-color: var(--violeta-oscuro);
    border-radius: 30px;
    padding: 5px 20px 5px 20px;
    display: inline-block;
    width: fit-content;
}

h2 {
    font-family: "capriola", sans-serif;
    font-size: 24px;
    color: #75147e;
}

h3 {
    font-family: "afacadflux-bold";
    font-size: 32px;
    color: #724E96;
}

h4 {
    font-family: "afacadflux-regular";
    font-size: 20px;
}

p {
    font-size: 18px;
    font-family: "afacadflux-regular";
}


body {
    background-color: rgb(245, 241, 236);
}

header {
    padding: 10px 0 30px 10px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    gap: 32px;
    padding: 7px 15px;
    width: 100%;
    height: 35px;
    background-color: var(--nav);
    align-items: flex-end;
}

nav a {
    text-decoration: none;
    color: var(--crema);
    font-size: 18px;
}

nav a:hover {
    color: #1d115c;
    font-size: 18px;
    font-weight: bold;
}

main {
    display: flex;
    width: 100%;
    margin: 0 60px 0 60px;
}

footer {
    background-color: var(--footer);
    margin: 20px 0 0 0;
}

article {
    margin: 10px;
}

.gris {
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0 70px;
}

.gris li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gris a {
    font-size: 15px;
    display: flex;
    text-decoration: none;
    color: var(--nav);
}

.gris a:hover {
    color: var(--crema);
    font-size: 15px;
    font-style: italic;
}

:root {
    --crema: #FFF4FF;
    --violeta-oscuro: #724E96;
    --lila: #D8CAE6;
    --nav: #534698;
    --footer: #E7DAF4;
}

/*index.html*/
#mainsobremi {
    gap: 400px;
}

#infopersonal {
    display: flex;
    flex-direction: row;
    gap: 500px;
}

.imagenpersonal {
    display: flex;
    flex-direction: row;
    gap: 20px;
    img {
        border: solid;
        border-radius: 45px;
        border-color: var(--violeta-oscuro);
    }
}

.botoncv {
    background-color: var(--nav);
    color: var(--crema);
    padding: 10px 30px;
    border-radius: 20px;
    margin: 70px 0 30px 0;
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
}

.botoncv:hover {
background-color: var(--lila);
color: var(--nav);
}

.nombre {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    p {
        margin: 20px 0
    }
    div {
    padding: 40px 0;
    }
}

/*sobre-mi.html*/
.habilidadesection {
    display: flex;
    flex-direction: column;
    align-items: center;
h3 {
    background: var(--lila);
    padding: 5px 40px;
    border-radius: 20px;
    margin: 0 10px 30px;
}
}

.habilidades {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    height: 750px;
    gap: 25px;
li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 h4 {
    padding: 0 0 7px;
}
}

.estudios {
    max-width: 400px;
    article {
        margin: 30px 0 30px 0;
    }
    li {
        font-size: 18px;
    }
}

/*trabajos.html*/
#maintrabajos {
    display: flex;
    flex-direction: column;
    div {
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
    padding: 10px 0px 10px 0px;
    gap: 10px;
} 
h3 {
    margin: 20px 0 5px 0;
}
}
